:root {
	--dark: #374151;
	--darker: #1F2937;
	--darkest: #111827;
	--grey: #6B7280;
	--thinGrey: #6f76865c; 
	--pink: #EC4899;
	--purple: #8B5CF6;
	--light: #EEE;
	--hover: #404d61;
	--orange:#e57112 ;
}
* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Fira sans", sans-serif;
}
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #FFF;
	background-color: var(--dark);
}
header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}
header h1{ 
	font-size: 2.5rem;
	font-weight: 500;
	color: var(--grey);
	margin-bottom: 1rem;
}
#toDoListInput {
	flex: 1 1 0%;
	background-color: var(--darker);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
 	margin-left: 1rem;
	color: var(--orange);
	font-size: 1.25rem;
	text-align: center;
	margin-bottom: 2rem;
	max-height:50px ;
}
input{
	appearance: none;
	border: none;
	outline: none;
	background: none;
}
li {
	text-align: center;
	font-weight: 500;
	color: var(--orange);
}
ol li{
	cursor: pointer;
	position: relative;
	padding: 12px 8px 12px 40px;
	background: var(--darkest);
	font-size: 18px;
    border-radius: 5px;
	margin-right: 3rem;
	margin-bottom:0.5rem; ;
	transition: 0.2s;
	user-select: none;
	counter-increment: step-counter;
}
ol li::marker{
	content:none;
    position: absolute;
    top: 0;
	position: relative;
	font-size: 18px;
	transition: 0.2s;
	
}
ol li::before{
content: counter(step-counter)". ";
}
ol li:nth-child(odd) {
	background: var(--darker);
}
ol li:hover {
	background: var(--hover) 00%;
	text-decoration: line-through 3px;
}
.header {
	padding: 20px 30px;
	color: var(--pink);
	text-align: center;
  }
  .header:after {
	content: "";
	display: table;
	clear: both;
  }
::placeholder{
	color: var(--orange);
}